<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
	
	
	
	
  </head>
  <body ng-app="demoApp" ng-controller="testController" ng-init="name = 'World !'" style="background-color: {{color}};">
    <div class="container text-center">
		<h1>Hello, {{ name }}</h1>
		<input type="text" ng-model="name">
		<br>
		<h2>Theme</h2>
		<input type="text" ng-model="color">
		
		<h2>Todo</h2>
		<input type="text" ng-model="newTask"><br>
		<input type="button" value="Add Task" class="btn-success" ng-click="addItem()">
	</div>
	
	<div class="container">
		<h1><kbd>Your tasks :</kbd></h1>
		
		<div class="card" style="width: 20rem;" ng-repeat="item in tasks">
			<div class="card-body">
				<h4 class="card-title">Card title</h4>
				<hr>
				<p class="card-text">{{ item.task }}</p>
				<p class="card-text">Status : {{ item.status }}</p>
			</div>
		</div>
		
	</div>

    
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
	<script>
		var app = angular.module("demoApp", []);
		app.controller("testController", function($scope) {
			$scope.newTask = 'Type something here';
			$scope.color = 'lightblue';
			$scope.tasks = [];
			
			$scope.addItem = function() {
				var newItemTask = {'status': 0, 'task': ""};
				newItemTask.status = 0;
				newItemTask.task = $scope.newTask;
				
				$scope.newTask = 'Next item pls !';
				
				$scope.tasks.push(newItemTask);
				delete(newItemTask);
				
				console.log($scope.tasks);
			}
		});
	</script>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	
  </body>
</html>